/* Media */
img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

figure {
  max-width: 600px;
  margin-bottom: 1rem;
}

figcaption {
  font-size: 0.875rem;
  color: var(--fs-color-text-muted);
  margin-top: 0.5rem;
  font-style: italic;
}